.footer {
   padding: 28px 0px 0px 0px;
}

.footer__container {
   padding: 0px 83px;
   display: flex;
   justify-content: space-between;

   @media (max-width: 728px) {
      padding: 0px 0px;
      flex-direction: column;
      align-items: center;
    }

   .footer__info {
      p {
         font-size: 14px;
         line-height: 14px;
         letter-spacing: 0.04em;

         @media (max-width: 728px) {
           margin-bottom: 20px;
          }
      }
   }

   .footer__list {
      display: flex;
      align-items: center;

      li {
         margin-right: 52px;

         &:last-child {
            margin-right: 0px;
         }

         a {
            font-size: 14px;
            line-height: 14px;
            color: rgba(100, 100, 100, 1);
         }
      }
   }
}