.intro {
   padding-bottom: 100px;
}

.intro__container {
   display: flex;
   padding: 0px 46px 0px 64px;

   @media (max-width: $md2 +px) {
      padding: 0px 50px;
      flex-direction: column;
   }

   @media (max-width: 1066px) {
      padding: 0px 20px;
   }
}


.intro__info {
   h1 {
      padding: 114px 0px 23px 0px;
      @include adaptive-font (66, 16);
      font-weight: 500;
      line-height: calc(78 / 66);

      @media (max-width: $md2 +px) {
         text-align: center;
         padding: 40px 0px 23px 0px;
      }

      span {
         color: $secondColor;
      }
   }

   p {
      padding: 0px 0px 67px 0px;
      @include adaptive-font (20, 16);
      line-height: calc(30 / 20);

      @media (max-width: $md2 +px) {
         text-align: center;
      }

      @media (max-width: $md4 +px) {
         padding: 0px 0px 20px 0px;
      }
   }

   div {
      text-align: left;

      @media (max-width: $md2 +px) {
         text-align: center;
         margin-bottom: 20px;
      }

      @media (max-width: $md4 +px) {
         display: flex;
         flex-direction: column;
      }


      a {
         margin-right: 25px;
         @include adaptive-font (20, 16);
         line-height: calc(23 / 20);
         padding: 13px 20px;
         transition: all 0.3s ease;

         &:hover {
            background-color: #363853;
         }


         @media (max-width: $md4 +px) {

            margin-bottom: 40px;
         }
      }

      span {
         display: inline-block;
         @include adaptive-font (20, 16);
         line-height: calc(24 / 20);
         text-decoration-line: underline;
         transition: all 0.3s ease;

         &:hover {
            cursor: pointer;
            color: $secondColor;
            transform: scale(1.1);
         }

         @media (max-width: $md4 +px) {

            padding-right: 23px;
         }
      }
   }
}

.intro__pic {
   max-width: 100%;

   @media (max-width: $md2 +px) {
      text-align: center;
   }
}

.intro__pic {
   // position: relative;
   // background-image: url('../img/intro/fff.png');
   // height: 673px;
   // width: 100%;
   // margin: 0 auto;
   // background-repeat: no-repeat;
   // background-position: center center;
   // background-size: cover;

   // @media (max-width: 1230px) {
   //    width: 80%;
   // }
}


/// ДУМАЮ///

// img {
//    position: absolute;

//    &:nth-child(1) {
//       left: 208px;
//       top: 2px
//    }

//    &:nth-child(2) {
//       left: 10px;
//       top: 109px
//    }

//    &:nth-child(3) {
//       left: 219px;
//       top: 243px;
//    }

//    &:nth-child(4) {
//       left: 0px;
//       top: 101px
//    }

//    &:nth-child(5) {
//       left: 521px;
//       top: -139px;
//    }

//    &:nth-child(6) {
//       left: 483px;
//       top: -73px;
//    }

// }


/// ДУМАЮ//