.delivery {
   padding: 0px 0px 128px 0px;

   @media (max-width: ($md2 +px)) {
      padding: 0px 0px 60px 0px;
   }
}

.delivery__container {
   padding: 0 18px;
   display: flex;

   @media (max-width: ($md2 +px)) {
      flex-direction: column-reverse;
   }
}

.delivery__pic {
   flex: 0 1 60%;

   @media (max-width: ($md2 +px)) {
      text-align: center;
   }

   img {
      @media (max-width: ($md2 +px)) {
         text-align: center;
      }
   }
}

.delivery__info {
   flex: 0 1 41%;
   padding: 110px 0px 0px 0px;

   @media (max-width: ($md2 +px)) {
      padding: 50px 0px 0px 0px;
      text-align: center;
   }

   .delivery-info__title {
      padding: 0px 0px 30px 0px;
      max-width: 72%;
      @include adaptive-font (36, 16);
      line-height: calc(50 / 36);
      font-weight: 500;

      @media (max-width: 1200px) {
         max-width: 100%;
      }

      span {
         color: $secondColor;
      }
   }

   .delivery-info__descr {
      padding: 0px 0px 29px 0px;
      max-width: 87%;
      @include adaptive-font (20, 16);
      line-height: calc(30 / 20);

      @media (max-width: 1200px) {
         max-width: 100%;
      }
   }

   .rest {
      margin-bottom: 69px;
   }

   .delivery-info__icon {
      margin-bottom: 25px;
      display: flex;

      @media (max-width: ($md2 +px)) {
         justify-content: center;
         align-items: center;
      }

      span {
         @include adaptive-font (24, 16);
         line-height: calc(30 / 24);
      }
   }

   a {
      display: inlne-block;
      padding: 18px 45px;
      box-shadow: 0px 22px 40px rgba(255, 104, 56, 0.19);
      border-radius: 30px 30px 1px 30px;
   }
}
