.mobileApp {
   padding: 0px 0px 141px 0px;

   @media (max-width: $md2 +px) {
      padding: 0px 0px 30px 0px;
   }
}

.mobileApp__container {
   padding: 0px 67px;
   display: flex;

   @media (max-width: $md2 +px) {
      flex-direction: column;
   }

   @media (max-width: $md3 +px) {
      padding: 0px 20px;
   }
}

.mobileApp__info {
   padding: 119px 0px 0px 4px;

   @media (max-width: 1143px) {
      padding: 50px 0px 40px 4px;
   }

   @media (max-width: $md2 + px) {
      padding: 0px 0px 40px 0px;
      text-align: center;
   }

   h2 {
      padding: 0px 0px 30px 0px;
      @include adaptive-font (36, 16);
      font-weight: 500;
      line-height: calc(50 / 36);

      span {
         color: $secondColor;
      }

   }

   p {
      padding: 0px 0px 35px 0px;
      @include adaptive-font (20, 16);
      line-height: calc(30 / 20);
   }

   div {
      padding: 0px 0px 0px 0px;
      display: flex;
      align-items: center;

      @media (max-width: $md2 +px) {
         justify-content: center;
      }

      img {
         transition: all 0.3s ease;

         &:hover {
            transform: scale(1.1);
         }

         &:nth-child(1) {
            margin-right: 31px;
         }
      }
   }
}

.mobileApp__pic {
   @media (max-width: $md2 +px) {
      text-align: center;
   }
}