.reviews {
   padding: 0px 0px 63px 0px;

   .reviews__title {
      padding: 0px 0px 22px 41px;
      @include adaptive-font (36, 16);
      font-weight: 500;
      line-height: calc(43 / 16);
      letter-spacing: 0.5px;
      text-align: center;

      span {
         color: $secondColor;
      }
   }

   .reviews__container {
      padding: 0px 33px;
      display: flex;

      @media (max-width: 1045px) {
         padding: 0px 10px;
      }

      @media (max-width: ($md2 +px)) {
         flex-direction: column;
         text-align: center;
      }
   }
}

.reviews__pic {
   margin-right: 74px;

   @media (max-width: 1100px) {
      margin-right: 30px;
   }

   @media (max-width: ($md2 +px)) {
      margin: 0px 0px 0px 0px;
   }
}

.reviews__info {
   padding: 36px 0px 0px 0px;

   @media (max-width: ($md2 +px)) {
      padding: 0px 0px 0px 0px;
   }

   .reviews-info__descr {
      padding: 0px 10px 57px 10px;
      margin: 0 auto;
      @include adaptive-font (20, 16);
      line-height: calc(45/ 20);
      letter-spacing: 0.5px;
      position: relative;
      color: rgba(54, 56, 83);

      @media (max-width: 1200px) {
         width: 100%;
         padding: 0px 10px 30px 10px;
      }

      @media (max-width: ($md2 +px)) {
         padding: 30px 10px;
         width: 100%;
         display: block;
         line-height: calc(36/ 20);
      }
   }
}

._info__user {
   padding: 0px 0px 20px 30px;
   display: flex;
   flex-direction: column;
   text-align: left;
}

._user__name {
   padding: 0px 0px 18px 0px;
   @include adaptive-font (20, 16);
   font-weight: 500;
   line-height: calc(24 / 20);
   color: $secondColor;
}

.user__slogan {
   font-size: 14px;
   line-height: calc(16 / 14);
   color: rgba(170, 170, 170, 1);
}