@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

%ic {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
  &:before {
    @extend %ic;
    display: block;
  }
}

._icon-burger-1:before {
  content: "\e900";
  font-size: 44px;
}

._icon-christmas-dinner-2:before {
  content: "\e901";
  font-size: 44px;
}

._icon-Delivery-icon:before {
  content: "\e902";
  color: rgba(71, 194, 255, 1);
  font-size: 32px;
  margin-right: 32px;
}

._icon-dish-1:before {
  content: "\e903";
  font-size: 44px;
}

._icon-Fill-1:before {
  content: "\e904";
  color: #FAC412;
  font-size: 18px;
}

._icon-Group:before {
  content: "\e905";
  font-size: 44px;
}

._icon-ic-facebook:before {
  content: "\e906";
  font-size: 21px;
}

._icon-ic-instagram:before {
  content: "\e907";
  font-size: 21px;
}

._icon-Iconly-Light-Calling:before {
  content: "\e908";
  font-size: 17px;
  margin-right: 12px;
  margin-left: 2px;
}

._icon-Iconly-Light-Location:before {
  content: "\e909";
  font-size: 17px;
  margin-right: 12px;
  margin-left: 2px;
}

._icon-Iconly-Light-Message:before {
  content: "\e90a";
  font-size: 17px;
  margin-right: 12px;
  margin-left: 2px;
}

._icon-Iconly-Light-Search:before {
  content: "\e90b";
  font-size: 23px;
}

._icon-ic-pinterset:before {
  content: "\e90c";
  font-size: 21px;
}

._icon-ic-twitter:before {
  content: "\e90d";
  font-size: 21px;
  transition: all 0.3s ease;
}

._icon-pizza-1:before {
  content: "\e90e";
  font-size: 44px;
}

._icon-Resturent:before {
  content: "\e90f";
  color: rgba(255, 80, 80, 1);
  font-size: 30px;
  margin-right: 32px;
}

._icon-star2:before {
  content: "\e910";
}

._icon-timer-1:before {
  content: "\e911";
  color: rgba(255, 125, 61, 1);
  font-size: 30px;
  margin-right: 32px;
}

._icon-Vector:before {
  content: "\e912";
}

._icon-ver:before {
  content: "\e913";
}

._icon-shopping-cart:before {
  content: "\e914";
  font-size: 23px;
  transition: all 0.3s ease;
}