/*Основные стили*/

/*Слайдер*/
.slick-slider {}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {}

/* Лента слайдов */
.slick-track {}

/* Слайд */
.slick-slide {}

/* Слайд активный (показывается) */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
.slick-arrow {}

/* Стрелка влево */
.slick-arrow.slick-prev {}

/* Стрелка вправо */
.slick-arrow.slick-next {}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots {}

.slick-dots li {}

/* Активная точка */
.slick-dots li.slick-active {}

/* Элемент точки */
.slick-dots li button {}

/*Конкретный слайдер*/

.slick .slick-slider {
   min-width: 0;
}

.slider .slick-list {
   overflow: hidden;
}

.slider .slick-track {
   height: 100%;
   display: flex;
}

.slider .slick-slide.slick-active {
   box-shadow: 0px 0px 30px $secondColor;
}

.slider .slick-slide.slick-center {
   opacity: 1;
}

.slider .slick-dots {
   display: flex;
   justify-content: center;
   position: absolute;
   bottom: -40px;
   z-index: 2;
   width: 100%;
   margin: 0 auto;

}

.slider .slick-dots li {
   list-style: none;
   margin-right: 10px;
}

.slider .slick-dots button {
   font-size: 0px;
   width: 15px;
   height: 15px;
   background: #363853;
   opacity: 0.2;
   border-radius: 7.5px;

   @media (max-width: $md4 +120.02px) {

      background: rgba(153, 169, 180, .2);
      border: 2px solid #99a9b4;
   }
}

.slider .slick-dots li.slick-active button {
   background: $secondColor;
   opacity: 1;
}

.slider .slick-arrow {
   position: absolute;
   top: 106%;
   margin: 0 auto;
   z-index: 10;
   font-size: 0;
   width: 30px;
   height: 60px;

   @media (max-width:499px) {
      top: 45%;
   }
}

.slider .slick-arrow.slick-prev {
   position: absolute;
   left: 0;
   width: 40px;
   height: 40px;
   background-color: $secondColor;
   border-radius: 50px;
   position: relative;

   &::before {
      content: "";
      position: absolute;
      background-image: url('../img/vl.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 19px;
      height: 19px;
      top: 10px;
      left: 9px;
   }

}

.slider .slick-arrow.slick-next {
   position: absolute;
   right: 0;
   width: 40px;
   height: 40px;
   background-color: $secondColor;
   border-radius: 50px;
   border: none;


   &::before {
      content: "";
      position: absolute;
      background-image: url('../img/v1.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 19px;
      height: 19px;
      top: 10px;
      left: 9px;
   }
}

.slider__item {
   cursor: pointer;
   opacity: 0.4;
   text-align: center;
   transition: all 0.3s ease;

   &:hover{
      opacity: 1;
   }
}

.slider__item.slick_center {
   opacity: 1;
}